<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.LogDataMapper">

    <resultMap id="BaseResultMap" type="generator.domain.LogData">
            <id property="id" column="id" />
            <result property="valueid" column="valueId" />
            <result property="data" column="data" />
            <result property="createdate" column="createDate" />
            <result property="createuser" column="createUser" />
    </resultMap>

    <sql id="Base_Column_List">
        id,valueId,data,createDate,createUser
    </sql>
</mapper>
